services:
  db:
    image: postgres:17
    restart: always
    environment:
      - POSTGRES_DB=db-structec3
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=62625054
    ports:
      - '5432:5432'
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
